@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  max-width: 1960px;
  background-color: #2c2642;
}

.footer-wrapper {
  font-family: "Share Tech Mono", monospace;
  max-width: 1960px;
  background-color: #2c2642;
}
.footer-wrapper .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 100px 45px 200px;
}

.footer-block {
  max-width: 220px;
}
.footer-block .block-title {
  padding: 8px 0px;
  font-size: 26px;
  margin-bottom: 20px;
  color: bisque;
}
.footer-block a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 0px;
  color: #998acb;
}
.footer-block a:hover {
  color: bisque;
}
.footer-block .item-block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-block .item-block-logo img {
  height: 45px;
}
.footer-block .item-block-logo a {
  color: #f5deb3;
  font-size: 26px;
  text-decoration: none;
  margin-left: 20px;
}
.footer-block .item-block-social {
  max-width: 160px;
  height: 30px;
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-block .item-block-social .footer-logo-icon:hover svg path {
  fill: bisque;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.footer-block .item-block-payment:hover {
  -webkit-filter: hue-rotate(40deg);
          filter: hue-rotate(40deg);
}
.footer-block .item-block-payment {
  width: 190px;
  border-radius: 5px;
  background-color: #443861;
  cursor: default;
}
.footer-block .item-block-payment .block-payment-shield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.footer-block .item-block-payment .block-payment-shield .block-payment-text {
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
  color: #998acb;
}
.footer-block .item-block-payment .block-payment-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px;
}
.footer-block .item-block-payment .block-payment-cards img {
  width: 30%;
  height: 65%;
}

.box-send {
  background-color: rgba(153, 138, 203, 0.7764705882);
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
}
.box-send .send-title {
  font-size: 26px;
  color: bisque;
}
.box-send .box-send-text {
  font-size: 16px;
  color: bisque;
  margin: 14px 0px;
}
.box-send .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.box-send .input-field .email-field {
  font-family: "Share Tech Mono", monospace;
  color: #625e67;
  font-size: 16px;
  line-height: 140%;
  padding: 16px 0 16px 18px;
  border-radius: 6px 0 0 6px;
  outline: none;
  border: 1px solid transparent;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-send .input-field .btn-input-field {
  outline: none;
  border: none;
  border-radius: 0 6px 6px 0;
  width: 52px;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  background-color: #998acb;
}
.box-send .input-field .btn-input-field .btn-input-field:hover {
  background-color: #5d4c87;
  cursor: pointer;
}
.box-send .input-field .btn-input-field .btn-input-field:active {
  background-color: #998acb;
}

.links-transform .support-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
.links-transform .support-links:hover {
  color: bisque;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.links-transform .support-item:hover svg path {
  fill: bisque;
}
.links-transform svg {
  margin-right: 12px;
}