@font-face {
  font-family: "Share Tech Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@media screen and (max-width: 1280px) {
}
@media screen and (min-width: 1140px) {
}
@media screen and (max-width: 992px) {
}

body {
  font-family: "Share Tech Mono", monospace;
  background-color: #1e1e1e;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.background-container {
  max-width: 1960px;
  background-image: url("./img/backgrn_1_all.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  .header-wrapper {
    padding: 70px 50px 40px 50px;

    .navigation-section {
      display: flex;
      justify-content: space-between;

      .header-wrapper__button {
        display: flex;
        flex-direction: column;
      }
      .navigation-section__list {
        margin-top: 69px;
        display: flex;
      }
      .navigation-section__item {
        margin-left: 60px;

        a {
          cursor: pointer;
        }
        & a:hover {
          color: #f5deb3;
        }
      }
    }
  }
}

.title__text {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  // font-size: 54px;
  font-size: 3.4em;
  line-height: 74px;
  text-align: center;
  color: #f5deb3;
}
.text-color {
  color: #f5deb3;
}
.text__subtitle {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  // font-size: 22px;
  font-size: 1.5em;
  line-height: 32px;
  color: #ececec;
}
.text__subtitle_large {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  ////font:32px///
  line-height: 45px;
  text-align: center;
  color: #ececec;
}

.item-block-logo {
  cursor: default;
  display: flex;
  align-items: center;

  img {
    height: 45px;
  }

  p {
    color: #f5deb3;
    font-size: 26px;
    text-decoration: none;
    margin-left: 20px;
  }
}

.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 176px;
  height: 38px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04em;
  cursor: pointer;
  &.button-send:hover {
    background-color: #eeeeee;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
}

///////////title/////////

.about-us-wrapper {
  margin-top: 44px;
  padding-top: 40px;
  padding-bottom: 185px;

  .about-us-block {
    margin: 0 auto;
    max-width: 757px;
    .about-us-block__title {
      height: 222px;
      letter-spacing: -0.06em;
    }
  }
  .about-us-block__subtitle {
    max-width: 600px;
    margin: 0 auto;
  }

  .input-subscription {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: inherit;
    max-width: 742px;
    margin-top: 50px;
    padding: 30px 40px;
    background: rgba(82, 88, 102, 0.9);
    border-radius: 30px;
    margin-bottom: 50px;
    .input-field-container {
      width: 100%;
      .input__field {
        input[type="email"] {
          max-width: 438px;
          width: 100%;
          height: 38px;
          padding: 14px;
          background-color: #ffffff;
          border-radius: 30px;
          font-size: 20px;
          line-height: 23px;
          color: rgba(82, 88, 102, 0.7);
        }
      }
    }
    .button-submit {
      margin-left: 20px;
      background: #439a86;
      color: #ececec;
      &:hover {
        background: #439a86c9;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.our-materials {
  max-width: 1960px;

  background-image: url("./img/maskgroup_our_bk.svg");
  background-repeat: no-repeat;
  background-position: bottom;

  .our-materials-container {
    display: flex;
    justify-content: space-around;
    margin-top: -37px;
    margin-bottom: -35px;
    margin-left: 63px;
    padding: 50px 42px 50px 42px;
    max-width: 1440px;

    // height: 608px;
    background: rgba(118, 118, 118, 0.2);
    backdrop-filter: blur(7.5px);
    border-radius: 20px;

    .our-block-text {
      max-width: 588px;
      width: 50%;
      // max-height: 376px;
      padding: 0px 60px 0px 0px;

      @media (min-width: 1200px) {
        padding: 0px 156px 0px 0px;
        width: 100%;
      }

      border-right: 3px solid #ececec;

      .our-block__title {
        text-align: left;
      }
      .our-block__subtitle {
        margin-top: 16px;
      }
    }

    .block-training-materials {
      padding: 0px 72px 0px 72px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .training-materials-cards {
        max-width: 304px;
        width: 100%;
        height: 112px;
        background: rgba(153, 138, 203, 0.5);
        box-shadow: 1.5px 3px 22.5px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        .materials-cards__text {
          text-align: center;
          background: rgba(49, 49, 49, 0.3);
          border-radius: 15px 15px 0px 0px;
          color: #f5deb3;
        }
      }
      .materials-cards__icon-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 9px 20px 7px 20px;

        img {
          transition-duration: 200ms;
        }
        img:hover {
          transform: scale(1.1, 1.1);
          transition-duration: 200ms;
        }
      }
    }
  }
}
.swiper-news-wrapper {
  background-image: url("./img/backgrn_section_wrapper.svg");
  background-color: #313039;
  background-position: center;
  padding-top: 100px;
  // max-width: 1960px;

  .swiper {
    margin-top: 30px;
    padding: 20px 0px 50px 0px;
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-item {
          cursor: pointer;
          display: flex;
          padding: 22.5px;
          max-width: 432px;
          width: 100%;
          background: rgba(153, 138, 203, 0.3);
          backdrop-filter: blur(11.25px);
          border-radius: 7.5px;
          transition-duration: 100ms;
          &:hover {
            transition-duration: 100ms;
            transform: scale(1.02, 1.05);
          }
          .slide-item__text {
            display: flex;
            align-items: center;
            text-align: left;
            margin-left: 22.5px;
            max-width: 230px;
            font-weight: 400;
            font-size: 24px;
            line-height: 101.7%;
            color: #ececec;
          }
          .slide-item__image {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.chart-wrapper {
  .chart-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .chart__item {
      svg {
        path {
          cursor: pointer;
          transition-duration: 300ms;
        }

        .piece-1:hover {
          transition-duration: 300ms;
          transform: translate(-3%, -3%);
        }
        .piece-2:hover {
          transition-duration: 300ms;
          transform: translate(3%, -5%);
        }
        .piece-3:hover {
          transition-duration: 300ms;
          transform: translate(0%, 6%);
        }
        .piece-4:hover {
          transition-duration: 300ms;
          transform: translate(5%, 1%);
        }
        .piece-5:hover {
          transition-duration: 300ms;
          transform: translate(-5%, 3%);
        }
      }
    }
    .chart__description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    

      .description-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0px;
        }

      
        .description__text {
          font-family: "Share Tech Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;
          color: #ececec;
          margin-left: 14px;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .chart__description-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 432px;
      width: 100%;
      padding: 20px 0;
      background: rgba(238, 238, 239, 0.1);
      backdrop-filter: blur(11.25px);
      border-radius: 15px;
    }
  }
}

.training-wrapper-bg {
  background-image: url("./img/backgrn_section_wrapper_two.svg");
  background-color: #313039;
  // background-repeat: no-repeat;
  background-position: top;
  // background-size: cover;
  .training-wrapper {
    padding: 0px 58px;
    .training-title {
      padding-top: 76px;

      .training__subtitle {
        padding-top: 14px;
      }
    }
    .training-wrapper-cards-group-1 {
      margin-top: 44px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      @media (min-width: 960px) {
        justify-content: space-between;
      }
    }
    .training-wrapper-cards-group-2 {
      margin-top: 58px;
      display: flex;
      justify-content: space-evenly;
    }
    .training-wrapper-cards {
      flex-basis: 262.5px;

      .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card__image {
          margin-bottom: -25px;
          z-index: 1;
          transition-duration: 300ms;
          &:hover {
            transition-duration: 300ms;
            transform: scale(1.1, 1.1);
          }
        }

        .card-item-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 40px 8px 46px 8px;
          height: 172.5px;
          text-align: center;
          background: rgba(217, 217, 217, 0.1);
          filter: drop-shadow(1.5px 3px 22.5px rgba(0, 0, 0, 0.25));
          backdrop-filter: blur(11.25px);
          border-radius: 15px;

          .card__title {
            font-family: "Share Tech Mono";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 101.7%;
            color: #f5deb3;
          }
          .card__subtitle {
            font-family: "Share Tech Mono";
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 101.7%;
            color: #ececec;
            max-width: 226px;
          }
        }
      }
    }
  }
  .training-title-bottom {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-bottom-text {
      font-family: "Share Tech Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 114.5%;
      max-width: 640px;
      text-align: center;
      color: #ececec;
    }
  }
  .photo-wrapper-section {
    margin-top: 76px;
    display: flex;
    justify-content: space-around;
    .section-swiper-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      .mySwiper-photo {
        padding: 60px 34px 0px 34px;

        .myImage {
          opacity: 0;
          animation: fade 1s ease-in-out;
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));

          @keyframes fade {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
    .section-swiper-text {
      .swiper-text-wrapper {
        max-width: 456px;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0px;
        }
        .swiper-text__title {
          font-family: "Share Tech Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 22.5px;
          line-height: 25px;
          color: #f5deb3;
          margin-bottom: 5px;
        }
        .swiper-text__subtitle {
          font-family: "Share Tech Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          color: #ececec;
        }
      }
    }
  }
}
.according-wrapper-bg {
  background-image: url("./img/backgrn_section_wrapper.svg");
  background-color: #313039;
  background-position: top;
}
.according-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;

  .according-wrapper-page {
    max-width: 916px;
    padding: 16px 130px 30px 130px;
    width: 100%;
    max-height: 700px;
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(11.25px);
    border-radius: 15px;

    .according-content {
      margin-top: 30px;
      margin-bottom: 200px;

      .according-item {
        padding: 10px;

        button.accordion__btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border: 1.5px solid #e9e9e9;
          border-radius: 15px;
          max-width: 650px;
          width: 100%;
          height: 40px;
          color: #f5deb3;
          padding: 10px;
          font-size: 1.2em;

          &:active {
            background-color: #252525;
          }
          &:hover {
            background-color: rgba(217, 217, 217, 0.067);
            border: 1.5px solid #ececec;
          }
        }
        .accordion__text {
          display: none;
          font-size: 1.2em;
          margin: 10px;
          line-height: 25px;
          color: #ececec;
        }
        .accordion__text.show {
          display: block;
        }
      }
    }
  }
}
.text-black {
  color: #2b2b2b;
}

////map////
.footer-background {
  background-image: url("./img/backgrn_section_wrapper.svg");
  background-color: #313039;
  background-position: top;
  background-size: contain;
  
  .map-location-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items:baseline;
    padding-bottom: 100px;

    .map-location {
      background-image: linear-gradient(
  270deg,
  hsl(0deg 0% 45%) 0%,
  hsl(273deg 4% 42%) 2%,
  hsl(272deg 8% 38%) 6%,
  hsl(271deg 13% 35%) 10%,
  hsl(271deg 19% 32%) 16%,
  hsl(270deg 26% 29%) 23%,
  hsl(269deg 35% 25%) 31%,
  hsl(264deg 35% 26%) 40%,
  hsl(254deg 27% 29%) 49%,
  hsl(239deg 21% 33%) 59%,
  hsl(224deg 23% 35%) 69%,
  hsl(211deg 24% 37%) 80%,
  hsl(201deg 27% 38%) 90%,
  hsl(192deg 29% 39%) 100%
);
      border-radius: 20px 0px 0px 20px;
      max-width: 975px;
      width: 100%;
      height: 450px;
      margin-right: -700px;
      // z-index: 1;
      transform: scale(0.8);
        @media (min-width: 790px) {
          transform: scale(1);
        }

        .location-text {
          text-align: start;
          padding: 20px;
          max-width: 200px;
        }
    }
    .map-wrapper {
      display: flex;
      justify-content: end;
      align-items: end;
      margin-top: 56px;
      
      .map-location-text-box {
        padding-bottom: 20px;
      }

      .map {
        width: 700px;
        height: 450px;
        transform: scale(0.8);
        @media (min-width: 790px) {
          transform: scale(1);
        }
      }
    }
  }
}

/////footer/////
.footer-container {
  margin: 0 auto;

  .footer-wrapper {
    font-family: "Share Tech Mono", monospace;
    max-width: 1200px;
    width: 100%;
    padding: 43px 0px 61px 0px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-block {
    max-width: 220px;

    .block-title {
      padding: 8px 0px;
      font-size: 26px;
      margin-bottom: 20px;
      color: bisque;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: 18px;
      padding: 8px 0px;
      color: #998acb;
    }

    a:hover {
      color: bisque;
    }

    .item-block-social {
      max-width: 160px;
      height: 30px;
      margin: 50px 0px;
      display: flex;
      justify-content: space-between;

      .footer-logo-icon:hover svg path {
        fill: bisque;
        transition: fill 0.2s;
      }
    }

    .item-block-payment:hover {
      filter: hue-rotate(40deg);
    }

    .item-block-payment {
      width: 190px;
      border-radius: 5px;
      background-color: #443861;
      cursor: default;

      .block-payment-shield {
        display: flex;
        align-items: center;
        padding: 10px;

        .block-payment-text {
          font-size: 14px;
          margin-left: 10px;
          white-space: nowrap;
          color: #998acb;
        }
      }

      .block-payment-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 10px;

        img {
          width: 30%;
          height: 65%;
        }
      }
    }
  }

  .box-send {
    background-color: #484063;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;

    .send-title {
      font-size: 26px;
      color: bisque;
    }

    .box-send-text {
      font-size: 16px;
      color: bisque;
      margin: 14px 0px;
    }

    .input-field {
      display: flex;
      justify-content: center;

      .email-field {
        background-color: #ffffff;
        font-family: "Share Tech Mono", monospace;
        color: #625e67;
        font-size: 16px;
        line-height: 140%;
        padding: 16px 0 16px 18px;
        border-radius: 6px 0 0 6px;
        outline: none;
        border: 1px solid transparent;
        width: 100%;
        transition: 0.3s;
      }
      .btn-input-field {
        outline: none;
        border: none;
        border-radius: 0 6px 6px 0;
        width: 52px;
        padding: 15px;
        flex-shrink: 0;
        margin: 0;
        background-color: #998acb;
        .btn-input-field:hover {
          background-color: #5d4c87;
          cursor: pointer;
        }
        .btn-input-field:active {
          background-color: #998acb;
        }
      }
    }
  }

  .links-transform {
    .support-links {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }
    .support-links:hover {
      color: bisque;
      transition: fill 0.2s;
    }
    .support-item:hover svg path {
      fill: bisque;
    }
    svg {
      margin-right: 12px;
    }
  }
}
